

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=fcc7530c6e94a0b49a06db360829a594">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/styles.min.css?h=35f7a002f41b496134d29ed0ebe00c9b">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
</head>

<body>
  
  <main class="page lanidng-page" style="background: #fdfdfd; margin-top: 40px;padding-right: 12px;">
    <section class="portfolio-block block-intro" style="padding: 1px 0px;">
      <div class="container">
        <div class="avatar"
          style="background: url(&quot;/assets/img/garbeji_logo.webp&quot;) center / contain;">
        </div>
        <div class="about-me">
          <p>Garbeji is a safe place where you can find easily service providers in your area. You can also become a
            service provider!</p><a class="btn btn-outline-light" role="button" href="#"
            style="border-color: #d85f30;color: #d85f30;">Browse catalogue</a><!-- Start: Features Boxed -->
          <section class="features-boxed">
            <div class="container" style="margin-top: 40px;padding-right: 12px;">
              <!-- Start: Intro -->
              <div class="intro">
                <h2 class="text-center">Features </h2>
              </div><!-- End: Intro -->
              <!-- Start: Features -->
              <div class="row justify-content-center features"
                style="margin-left: -12px;padding-top: 0px;padding-bottom: 0px;">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box"><i class="fa fa-map-marker icon" style="color: #d85f30;"></i>
                    <h3 class="name">Works everywhere</h3>
                    <p class="description">Garbeji is available everywhere.</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box"><i class="fa fa-clock-o icon" style="color: #d85f30;"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description">Our services are available whenever you need them.</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                  <div class="box"><i class="fa fa-plane icon" style="color: #d85f30;"></i>
                    <h3 class="name">Fast </h3>
                    <p class="description">Rapidity is guaranteed. You get what you want ASAP!&nbsp;</p>
                  </div>
                </div>
              </div><!-- End: Features -->
            </div>
          </section><!-- End: Features Boxed -->
        </div>
      </div>
    </section>
    <section class="portfolio-block photography" style="box-shadow: 0px 0px 1px;">
      <div class="container">
        <div style="padding-top: 1px;margin-top: 49px;">
          <h1 style="text-align: center;color: #4c6b96;margin: 32px;"><strong>Founders</strong></h1>
          <p style="text-align: center;">We are group of enthusiastic engineering students aged between 21 and 22. We
            love adventure!&nbsp;&nbsp;</p>
        </div>
        <div class="row g-0 justify-content-center" style="text-align: center;">
          <div class="col-3 col-md-6 col-lg-4 offset-0 text-center order-first m-auto item zoom-on-hover"
            style="background: rgba(0,0,0,0);max-width: 20%;"><a >
                <img class="rounded img-fluid border image"
                src="/assets/img/team/me.jpg"></a>
            <h1 style="font-size: 15px;">Hana Ben Asker</h1>
            <p class="d-flex float-none flex-shrink-1 flex-fill justify-content-center align-items-center flex-wrap"
              style="color: #bac4c0;font-size: 10px;">Network engineering student at INSAT</p>
          </div>
          <div class="col-3 col-md-6 col-lg-4 offset-0 text-center order-first m-auto item zoom-on-hover"
            style="background: rgba(0,0,0,0);max-width: 20%;"><a ><img class="rounded img-fluid border image"
                src="/assets/img/me.jpg"></a>
            <h1 style="font-size: 15px;">Hana Ben Ghazeil</h1>
            <p style="color: #bac4c0;font-size: 10px;">Network engineering student at INSAT</p>
          </div>
          <div class="col-3 col-md-6 col-lg-4 offset-0 text-center order-first m-auto item zoom-on-hover"
            style="background: rgba(0,0,0,0);max-width: 20%;"><a ><img class="rounded img-fluid border image"
                src="/assets/img/me.jpg"></a>
            <h1 style="font-size: 15px;">Sofiene Chihi</h1>
            <p style="color: #bac4c0;font-size: 10px;">Network engineering student at INSAT</p>
          </div>
          <div class="col-3 col-md-6 col-lg-4 offset-0 text-center order-first m-auto item zoom-on-hover"
            style="background: rgba(0,0,0,0);max-width: 20%;"><a ><img class="rounded img-fluid border image"
                src="/assets/img/me.jpg"></a>
            <h1 style="font-size: 15px;">Yassine Chamkhi</h1>
            <p style="color: #bac4c0;font-size: 10px;">Network engineering student at INSAT</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <!-- Start: Contact Info Card -->
      <div class="contact-info portfolio-info-card"
        style="margin-top: 42px;height: 207px;padding-top: 16px;margin-bottom: 0px;padding-bottom: 41px;">
        <h2 style="color: #333e5c;">Contact Info</h2>
        <div class="row" style="border-top-style: none;">
          <div class="col-1"><i class="icon ion-ios-location icon" style="color: #778caa;"></i></div>
          <div class="col-9"><span>INSAT ,Centre Urbain Nord, Tunis</span></div>
        </div>
        <div class="row">
          <div class="col-1"><i class="icon ion-ios-telephone icon" style="color: #4c6b96;"></i></div>
          <div class="col-9"><span>+216 50 348 968</span></div>
        </div>
        <div class="row">
          <div class="col-1"><i class="icon ion-at icon" style="color: #4c6b96;"></i></div>
          <div class="col-9"><span>contact@garbeji.tn</span></div>
        </div>
      </div><!-- End: Contact Info Card -->
    </section>
   
  </main>
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
  <script src="/assets/js/script.min.js?h=0464ed88042dca071baed6aedf41462e"></script>
</body>

</html>