<div class="card text-center">
    <img class="card-img-top" src={{jobOffer.imageUrl}} alt="Image non disponible">
    <div class="card-body">
      <h5 class="card-title">{{jobOffer.name}}</h5>
      <p class="card-text">{{jobOffer.description.substring(0, 50).trim()+"..."}}</p>
      <button class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="modalId">Voir l'offre</button>

      <!-- Modal -->
      <div class="modal fade" id="offerModal{{jobOffer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">

          <div class="modal-content">


            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{jobOffer.name}}</h5>
              <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


            <div class="modal-body">
              <img class="card-img-top" src={{jobOffer.imageUrl}} alt="Image non disponible">
              {{jobOffer.description}}
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-primary">Sauvegarder l'offre</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
