.container{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

h3{
    color: #4c6b96;
    font-weight: bold;
    display: inline-block;
    width: 40%;
}

.login-buttons button{
    color: #d85f30;
    border-radius: 20px;
    background-color: transparent;
    border: #d85f30 1px solid;
    font-weight: bold;
}

.login-buttons button:hover{
    background-color: #d85f30;
    color: white;
}

.container button{
    display: block;
    width: 100%;
    margin: 2px;
}

input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: inline-block;
    width: 40%;
    box-shadow: 2px 1px 5px black;

}


img{
    width: 100%;
    height: auto;
    margin: auto;
    object-fit: cover;
}