<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="first-block">
            <h3>Je cherche un : </h3>
                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
        </div>
        <div class="container">
            <div class="row">
              <div class="col-sm-4" *ngFor="let job of jobs">
                <button type="button" class="btn btn-outline-primary">job</button>
            </div>
            </div>
          </div>

    </div>
      <div class="col-sm">
        <img src="../../../../assets/images/img2.jpg" alt="workers are here in the club">
    </div>
    </div>
</div>