<div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Si vous chercher un service</h3>
        <div class="first-element">
            <ul>
                <li>
                    <p>Chercher parmi plusieurs offre</p>
                </li>
                <li>
                    <p>Choisissez l'offre qui vous interesse</p>
                </li>
                <li>
                    <p>Contacter le prestataire</p>
                </li>
                <li>
                    <p>Arranger un rendez-vous et voila!</p>
                </li>
            </ul>
            <h2>Profiter de votre confort</h2>

            <button type="button" class="btn btn-outline-primary">Chercher un service</button>

        </div>
    </div>
      <div class="col-sm">
        <h3>Si vous chercher un service</h3>
        <div class="second-element">
            <ul>
                <li>
                    <p>Chercher parmi plusieurs offre</p>
                </li>
                <li>
                    <p>Choisissez l'offre qui vous interesse</p>
                </li>
                <li>
                    <p>Contacter le prestataire</p>
                </li>
                <li>
                    <p>Arranger un rendez-vous et voila!</p>
                </li>
            </ul>
            <h2>Developper votre activité</h2>
            <button type="button" class="btn btn-outline-primary">Offrir un service</button>
        </div>
    </div>
    </div>
</div>