<div class="container-fluid d-flex justify-content-center" style="padding-top: 70px; padding-left: 30px">
    <div class="row d-flex justify-content-center">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <input class="sinput" type="text" placeholder="Search..">
            </div>
            <div class="row mx-auto" style="margin-top: 20px;">
                <div class="col d-flex justify-content-center" style="margin: 3px;">
                    <button type="button" class="btn btn-light">Informatique</button>
                </div>
                <div class="col d-flex justify-content-center" style="margin: 3px;">
                    <button type="button" class="btn btn-light">Sofiene</button>
                </div>
                <div class="col d-flex justify-content-center" style="margin: 3px;">
                    <button type="button" class="btn btn-light">Hana</button>
                </div>
                <div class="col d-flex justify-content-center" style="margin: 3px;">
                    <button type="button" class="btn btn-light">Hanah</button>
                </div>
                <div class="col d-flex justify-content-center" style="margin: 3px;">
                    <button type="button" class="btn btn-light">Yassine</button>
                </div>
                <div class="col d-flex justify-content-center" style="margin: 3px;">
                    <button type="button" class="btn btn-light">Chma9</button>
                </div>
            </div>
        </div>
    </div>
</div>