<div class="container">
    <div class=" d-lg-flex justify-content-lg-center " style="height:350px" >
        <div class="row d-inline-flex d-lg-flex d-xxl-flex justify-content-lg-start align-items-lg-start justify-content-xxl-center"
        style="text-align: left;width: 100% ">
            <img src="../../../../assets/images/bg.jpg" alt="Could be portrait or landscape"
            style=" max-height:100%;"/>
        </div>
    </div>

    
    <div class=" row  gutters-sm mt-4 mr-6">
        <div class="  d-lg-flex d-xxl-flex  align-items-lg-start "
            style="text-align: left;width: 100% ; ">

            <div class="col-md-4 mb-3 " style="margin-left: 5px;">
                <app-card></app-card>
            </div>

            <div class=" col " style="margin-left: 2%;" >
                <app-details></app-details>

                <app-socials></app-socials>
    
            </div>



    
        </div>

    </div>


     



<ul class="container nav nav-tabs" id="myTab" role="tablist"  >
    <li class="nav-item" *ngFor="let link of links">
        <button class="nav-link " id="link"  [routerLink]="link" role="tab"routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            {{link}}
        </button>
    </li>
</ul>

<div class="container">
    <router-outlet></router-outlet>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Edit Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">

                <div class="text-center"><img class="rounded-circle img-fluid" src="../../../../assets/images/profil.jpg"
                        loading="auto"
                        style="width: 200px;height:150px; border-radius: 102px;filter: blur(0px);border-top-style: solid;border-top-color: #333e5c;border-right-style: solid;border-right-color: #bac4c0;border-bottom: 3px solid #d85f30 ;border-left-style: solid;border-left-color: #fdfdfd;" />
                        <label for="file-upload" class="custom-file-upload"
                        style="color: #333e5c; right:10%; font-size:1.5rem;" >
                            edit
                        </label>
                        <input type="file"  id="file-upload">
                </div>
            </div>

            <div class="mb-4"><input type="text" class="form-control" name="Firstname"
                placeholder="Firstname" /></div>
            <div class="mb-4"><input type="text" class="form-control" name="Lastname"
                placeholder="Lastname" /></div>
            <div class="mb-4"><input type="phone" class="form-control"
                    placeholder="phone" /></div>
            <div class="mb-4"><input type="password" class="form-control"
                placeholder="Password" /></div>
            
            <div class="mb-3 modal-footer ">
                <button class="btn btn-primary center" type="submit"
                style="background: #d85f30;border-style: none;border-bottom-style: none; margin-right: 1%;">Update</button>

                <button type="button"  class="btn btn-secondary" 
                style="background: #d85f30;border-style: none;border-bottom-style: none;"
                data-bs-dismiss="modal">Cancel</button>

            </div>

        
        
        </div>
      </div>
  </div>