<div>
    <section class="portfolio-block project-no-images">
        <div class=" container d-lg-flex justify-content-lg-center" >
            <div class="row text-center d-inline-flex d-lg-flex d-xxl-flex justify-content-lg-start align-items-lg-start justify-content-xxl-center"
                style="text-align: left;">
                <div class="  offset-0"
                    style="background: #4c6b96;padding-top: 30px;padding-bottom: 10px;border-radius: 6px;box-shadow: 0px 0px 3px;margin-bottom: 20px;">
                    <div class="row">
                            <div class="text-center"><img class="rounded-circle img-fluid" src="../../../../assets/images/profil.jpg"
                                    loading="auto"
                                    style="width: 200px;height:200px; border-radius: 102px;filter: blur(0px);border-top-style: solid;border-top-color: #333e5c;border-right-style: solid;border-right-color: #bac4c0;border-bottom: 3px solid #d85f30 ;border-left-style: solid;border-left-color: #fdfdfd;" />
                            </div>
                            <div>
                                <h2 class="text-center" style="margin-top: 10px;color: #fdfdfd;text-align: center;">
                                    Hana Ben Ghezail</h2>
                                <h4 class="text-center" style="margin-top: 10px;color: #fdfdfd;text-align: center;">
                                    (Student)
                                </h4>

                            </div>
                            <div>
                                <h5 class="text-center" style="margin-top: 10px;color: #fdfdfd;text-align: center;">
                                    22 years old</h5>
                                <p
                                    style="color: rgb(255,255,255);padding: 15x">
                                    <br />Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                                    numquam blanditiis. gfgtrzezzzzzzzzzzzzzzzzzzzzg<br /></p>
                                <div class="col" style="padding: 12px;">
                                    <button class="btn btn-primary shadow-lg" type="button" *ngIf="contact" (click)="displayContact()"
                                        style="background: #d85f30;border-top-style: none;border-right-style: none;border-right-color: #d85f30;border-bottom-style: none;border-left-style: none;">
                                        Contact
                                    </button>
                                    <a *ngIf="!contact" href="tel:+18475555555">1-847-555-5555</a>
                                </div>
                                <div class="col" style="padding: 12px;">
                                    <button class="btn btn-primary shadow-lg"
                                        type="button"
                                        data-bs-toggle="modal"  data-bs-target="#myModal"
                                        style="background: #d85f30;border-top-style: none;border-right-style: none;border-right-color: #d85f30;border-bottom-style: none;border-left-style: none;">Edit
                                        profile</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container  bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0  " >
                    <li class="list-inline-item ">
                        <h5 class="font-weight-bold mb-0 d-block stats">241</h5><small class="text-muted stats"> <i class="fa fa-picture-o mr-1"></i>Stars</small>
                    </li>
                    <li class="list-inline-item ">
                        <h5 class="font-weight-bold mb-0 d-blocks stats">84K</h5><small class="text-muted stats"> <i class="fa fa-user-circle-o mr-1"></i>services provided</small>
                    </li>
                </ul>
            </div>
    </section> 
    
  

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Edit Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">

                <div class="text-center"><img class="rounded-circle img-fluid" src="../../../../assets/images/profil.jpg"
                        loading="auto"
                        style="width: 200px;height:150px; border-radius: 102px;filter: blur(0px);border-top-style: solid;border-top-color: #333e5c;border-right-style: solid;border-right-color: #bac4c0;border-bottom: 3px solid #d85f30 ;border-left-style: solid;border-left-color: #fdfdfd;" />
                        <label for="file-upload" class="custom-file-upload"
                        style="color: #333e5c; right:10%; font-size:1.5rem;" >
                            edit
                        </label>
                        <input type="file"  id="file-upload">
                </div>
            </div>

            <div class="mb-4"><input type="text" class="form-control" name="Firstname"
                placeholder="Firstname" /></div>
            <div class="mb-4"><input type="text" class="form-control" name="Lastname"
                placeholder="Lastname" /></div>
            <div class="mb-4"><input type="phone" class="form-control"
                    placeholder="phone" /></div>
            <div class="mb-4"><input type="password" class="form-control"
                placeholder="Password" /></div>
            
            <div class="mb-3 modal-footer ">
                <button class="btn btn-primary center" type="submit"
                style="background: #d85f30;border-style: none;border-bottom-style: none; margin-right: 1%;">Update</button>

                <button type="button"  class="btn btn-secondary" 
                style="background: #d85f30;border-style: none;border-bottom-style: none;"
                data-bs-dismiss="modal">Cancel</button>

            </div>

        
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
  </div>