    <div class="card">
        <ng-container *ngIf="profile">
<div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
            <img src="../../../../assets/images/hana.png" alt="user image" class="rounded-circle" width="150" height="150" style="object-fit: cover;">
            <div class="mt-3">
                <h4> {{profile.firstName}} {{profile.lastName}} </h4>
                <p class="text-secondary mb-1"> ({{profile.profession}})</p>
                <p class="text-muted font-size-sm">{{profile.address}}</p>
                
                <div class="col" style="padding: 12px;">
                    <button class="btn btn-primary shadow-lg mr-4" type="button" *ngIf="contact" (click)="displayContact()"
                        style="background: #d85f30;border-top-style: none;border-right-style: none;border-right-color: #d85f30;border-bottom-style: none;border-left-style: none;">
                        Contact
                    </button>
                    <a *ngIf="!contact" href="tel:+{{profile.phone}}">{{profile.phone}}</a>
                </div>
        
                <div class="col" style="padding: 12px;">
                    <button  class="btn btn-primary shadow-lg"  type="button"
                        data-bs-toggle="modal"  data-bs-target="#myModal"
                        style="background: #d85f30;border-top-style: none;border-right-style: none;border-right-color: #d85f30;border-bottom-style: none;border-left-style: none;">Edit
                        profile
                    </button>
                </div>
                
            </div>
            </div>
        </div>

        </ng-container>
        
    </div>

