<app-search-bar></app-search-bar>
<div class="d-flex justify-content-center">
    <hr class="w-50"></div>
<div class="d-flex justify-content-center" style="padding: 40px;">
    <div class="row">
        <div class="col margin">
            <app-job-card></app-job-card>
            <app-job-card></app-job-card>
        </div>
        <div class="col">
            <app-job-card></app-job-card>
            <app-job-card></app-job-card>
        </div>
        <div class="col">
            <app-job-card></app-job-card>
            <app-job-card></app-job-card>  
        </div>
    </div>
</div>