<app-search-bar (categoryChoiceEvent)="chooseByCategory($event)"> </app-search-bar>
<div class="container-fluid d-flex justify-content-center">
    <hr class="w-50"></div>
<div class="container-fluid d-flex justify-content-center" style="padding: 40px;">
    <div class="row">
        <div class="col">
            <app-job-card *ngFor="let job of jobsOfColumn1" [jobOffer]="job"></app-job-card>
        </div>
        <div class="col">
            <app-job-card *ngFor="let job of jobsOfColumn2" [jobOffer]="job"></app-job-card>
        </div>
        <div class="col">
            <app-job-card *ngFor="let job of jobsOfColumn3" [jobOffer]="job"></app-job-card>
        </div>
    </div>
</div>