<div class="  bg-light p-4 d-flex justify-content-end text-center  "
    style=" text-align: left;width: 100% ;  padding-top: 30px;padding-bottom: 10px;border-radius: 6px;margin-bottom: 20px;">
    <ul class="list-inline mb-0">
        <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block" style="color: #d85f30;">{{profile.stars}}</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Stars</small>
        </li>
        <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block"  style="color: #d85f30;">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Provided services</small>
        </li>
    </ul>
</div>

<div class="  bg-light p-4 d-flex justify-content-end text-center px-4 py-3 "
    style="padding-top: 30px;padding-bottom: 10px;box-shadow: 0px 0px 3px;margin-bottom: 20px;">
    <h5 class="mb-0">About:</h5>
    <br>
    <p>{{profile.bio}}</p>
</div>