<form >
  <div class="form-row">
    <div class="col-md-4 pr-1">
      <label>Name </label>
      <input type="text" class="form-control  " id="name"
      >       
    </div>

    <div class="col-md-4 px-1">
      <label>Category</label>
      <input type="text" class="form-control " id="category"
     > 
    </div>  
  </div>


  <div class="form-row">
    <div class="col-md-5  px-1">
        <label>Price</label>
        <input type="text" class="form-control " id="Price"
        >   
    </div>
    <div class="col-md-7  px-1">
        <label>Worktime</label>
        <input type="text" class="form-control " id="Worktime"
       >         
    </div>
  </div>

  
  <div class="form-row">    
    <div class=" col-md-7 px-1">
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control " id="Description"
        name="Description">  
      </div>
    </div>

  </div>



  <div class="row pt-4" >
    <div class=" ml-auto mr-auto">
      <button type="submit" class="btn  btn-round submit" >
       post 
      </button>
    </div>
  </div>
</form>
