
 <div class="mb-3">

    <div class="text-center"><img class="rounded-circle img-fluid" src="../../../../assets/images/profil.jpg"
            loading="auto"
            style="width: 200px;height:150px; border-radius: 102px;filter: blur(0px);border-top-style: solid;border-top-color: #333e5c;border-right-style: solid;border-right-color: #bac4c0;border-bottom: 3px solid #d85f30 ;border-left-style: solid;border-left-color: #fdfdfd;" />
            <label for="file-upload" class="custom-file-upload"
            style="color: #333e5c; right:10%; font-size:1.5rem;" >
                edit
            </label>
            <input type="file"  id="file-upload">
    </div>
</div>

<div class="mb-4"><input type="text" class="form-control" name="Firstname"
    placeholder="Firstname" /></div>
<div class="mb-4"><input type="text" class="form-control" name="Lastname"
    placeholder="Lastname" /></div>
<div class="mb-4"><input type="phone" class="form-control"
        placeholder="phone" /></div>
<div class="mb-4"><input type="password" class="form-control"
    placeholder="Password" /></div>


    <button class="btn btn-primary center" type="submit"
    style="background: #d85f30;border-style: none;border-bottom-style: none; margin-right: 1%;">Update</button>

  

